.pageTitle {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #333333;
    font-weight: bold;
    font-size: 30px;
    padding-left: 60px;
    position: relative;
    top: 30px;
}

.contentCreator {
    display: block;
    margin: auto;
    padding: 60px 60px 0;
}

.contentTypeSelector-title {
    display: block;
    text-align: left;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #333;
}

.contentTypeSelector {
    padding: 8px;
    border-radius: 5px;
    background: none;
    margin-bottom: 10px;
}

.contentTypeSelector:focus {
    border-color: #007aff;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(0, 122, 255, 0.6);
}

.contentTypeFormButton {
    display: block;
    padding: 5px 12px 5px 12px;
}

.dataForm {
    display: block;
    margin-top: 30px;
}

.resizableInput {
    resize: vertical;
    min-width: 100%;
    max-width: 100%;
    min-height: 64px;
    max-height: 512px;
}

label {
    display: block;
    margin-bottom: 6px;
    text-align: left;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #333;
}