<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create Folder/Doc</title>
    <link rel="stylesheet" type="text/css" href="CSS/globalStyle.css" th:href="@{/CSS/globalStyle.css}">
    <link rel="stylesheet" type="text/css" href="CSS/createStyle.css">
    <link rel="stylesheet" type="text/css" href="CSS/loginStyle.css">
</head>
<body>
<ul class="navBar">
    <li><a class="navBar-element" href="/home">Home</a></li>
    <li><a class="navBar-element active" href="/create">Create...</a></li>
    <li>
        <div class="navBar-element rightAnchor">
            <label class="usernameDisplayer" th:text="${'Hi @'+username}">Hi @Username</label>
            <a class="logoutButton" href="/logout">Logout</a>
        </div>
    </li>
</ul>
<div class="pageContent">
    <label class="pageTitle">Create content</label>
    <div class="contentCreator">
        <label for="contentTypeSelector" class="contentTypeSelector-title">Select the content type to create:</label>
        <form action="/create" method="get" id="chooseContentTypeForm">
            <select name="contentType" id="contentTypeSelector" class="contentTypeSelector">
                <option value="0" th:selected="${selectedContentType == 0}">Folder</option>
                <option value="1" th:selected="${selectedContentType == 1}">Subfolder</option>
                <option value="2" th:selected="${selectedContentType == 2}">Document</option>
            </select>
            <input type="submit" class="filledButton contentTypeFormButton" value="Submit">
        </form>
        <div th:remove="${selectedContentType == 2} ? 'all' : 'none'">
            <form action="/create" method="post" class="dataForm" id="mainFolderNameForm">
                <label for="folderName">Folder Name:</label>
                <input type="text" id="folderName" name="folderName" class="fullHeightElement textField" placeholder="Folder Name..." required>
                <label for="folderName" class="errorLabel" th:hidden="${folderNameError == null}" th:text="${folderNameError}">Folder Name Error goes here</label>
                <div th:remove="${selectedContentType == 0} ? 'all' : 'none'">
                    <label for="parentFolderSelector">Parent Folder:</label>
                    <select name="parentFolder" id="parentFolderSelector" class="contentTypeSelector" th:required="${selectedContentType != 0}" required>
                        <option value="">Choose a Parent Folder...</option>
                        <option th:each="folder : ${mainFolders}" th:value="${folder.getFolderNumber()}" th:text="${folder.getName()}">Folder 1</option>
                    </select>
                    <label for="parentFolderSelector" class="errorLabel" th:hidden="${parentFolderNameError == null}" th:text="${parentFolderNameError}">Parent Folder Name Error goes here</label>
                </div>
                <input type="hidden" name="contentType" th:value="${selectedContentType}">
                <input type="submit" class="filledButton contentTypeFormButton" value="Create Folder">
            </form>
        </div>
        <div th:remove="${!(selectedContentType == 2)} ? 'all' : 'none'">
            <form action="/create" method="post" class="dataForm" id="documentDataForm">
                <label for="documentName">Document Name:</label>
                <input type="text" id="documentName" name="documentName" class="fullHeightElement textField" placeholder="Document Name..." required>
                <label for="documentName" class="errorLabel" th:hidden="${docNameError == null}" th:text="${docNameError}">Document Name Error goes here</label>
                <label for="documentType">Document Extension:</label>
                <input type="text" id="documentType" name="documentFileType" class="fullHeightElement textField" placeholder="Document Extension..." required>
                <label for="documentType" class="errorLabel" th:hidden="${docTypeError == null}" th:text="${docTypeError}">Document Extension Error goes here</label>
                <label for="documentContent">Document Content</label>
                <textarea class="textField resizableInput fullHeightElement" id="documentContent" name="documentContent" placeholder="Document Content..." required></textarea>
                <label for="documentContent" class="errorLabel" th:hidden="${docContentError == null}" th:text="${docContentError}">Document Content Error goes here</label>
                <label for="parentFolderSelector_doc">Parent Folder:</label>
                <select name="parentFolder" id="parentFolderSelector_doc" class="contentTypeSelector" th:required="${selectedContentType == 2}" required>
                    <option value="">Choose a Parent Folder...</option>
                    <optgroup label="Optgroup" th:each="folder, iter : ${mainFolders}" th:value="${folder.getFolderNumber()}" th:label="${folder.getName()}" th:remove="${subfolders.get(iter.index).isEmpty()} ? 'all' : 'none'">
                        <option th:each="subfolder : ${subfolders.get(iter.index)}" th:value="${subfolder.getFolderNumber()}" th:text="${subfolder.getName()}">Folder 1</option>
                    </optgroup>
                </select>
                <label for="parentFolderSelector_doc" class="errorLabel" th:hidden="${folderNameError == null}" th:text="${folderNameError}">Parent Folder Name Error goes here</label>
                <input type="hidden" name="contentType" th:value="${selectedContentType}">
                <input type="submit" class="filledButton contentTypeFormButton" value="Create Document">
            </form>
        </div>
    </div>
</div>
</body>
</html>