.documentTableContainer {
    margin-top: 40px;
    margin-left: 60px;
}

.documentTable {
    border: solid 1px #666666;
    border-radius: 10px;
    border-collapse: collapse;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.rowTitle {
    font-weight: bold;
}

tr {
    border: 1px solid #e8eaec;
}

.evenRow {
    background-color: white;
}

.evenRow:hover {
    background-color: #fafafa;
}

.oddRow {
    background-color: #f8f8f8;
}

.oddRow:hover {
    background-color: #f0f0f0;
}

th, td {
    text-align: left;
    padding: 10px 40px 10px 10px;
}