label {
    display: block;
    margin-bottom: 6px;
    text-align: left;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #333;
}

.registerPrompt {
    text-align: center;
    font-size: 15px;
}